{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
      <img src="img/Unbenannt.jpg"/>
      <img src="img/Download.png"/>
      <div class="rahmen">
        <img src="img/code.png" style="margin-left:3.5px"/><br/>
        <form name="anfrage" method="post">
          <input id="eingabe" type="text" size="30" maxlength="13" placeholder="Hier die EAN eingeben!">
<!--erster Schritt: URl in Variable-->
<!-- zweiter Schritt: Query ausprobieren (Bild)-->
<!-- dritter Schritt: id des Containers, AJAX/JQuery / innerhtml-->
          <script type="text/javascript">
            function eingabeAnUrlAnhaengen()
              {
                var input = document.getElementById("eingabe").value;

                $.get("http://pod.opendatasoft.com/api/records/1.0/search/?dataset=pod_nutrition_us&q=gtin_cd:" + input, function(data) 
                  {
                    console.log(data);
                    console.log(data.records[0].fields.gtin_img);
                    $('#kreis2').css('background-image', 'url(' + data.records[0].fields.gtin_img +')');
                    
                    
                                  ingrArr = data.records[0].fields.ingredients.split(' ');
              bl=["BUTTER","MILK","EGG","YOGHURT","CREAM", "CHICKEN", "BEEF", "PORK", "HONEY"];
              for(var i = 0; i < ingrArr.length; i++) {
                  var ingr = ingrArr[i];
                  ingr = ingr.toUpperCase();
                  if (bl.indexOf(ingr) > -1) {
                    console.log('nicht vegan');
                    $('#kreis3').css('background-image', 'url("img/x.jpg")');
                  }
                  else{
                  console.log('vegan')
                   $('#kreis3').css('background-image', 'url("img/haken.jpg")');   
                }

                }
            });
                      }

          </script>
          <input class="button" type="button" name="suchen" value="los!" onClick="eingabeAnUrlAnhaengen()">
        </form>



      </div>
      <div class="kreise">
        <hr/>
        <hr id="hr2"/>
        <div id="kreis1">
        </div>
        <div id="kreis2">
        </div>
        <div id="kreis3">
        </div>
     </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

body{
	font-family: Arial;
	font-size:14px;
	color:#000000;
	background-color:#f2f2f2;
}

img{
	margin-bottom:20px;
}

h1{
	font-family:;
	font-size:20px;
	color:#898989;
}


.wrapper{
	width:140mm;
	height:69,5mm;
	background-color:#cccccc;
	margin: 0 auto;
	padding: 50px;
}

.rahmen{
	height:150px;
	width:93.5%;
	padding:10px;
	background-color:#a9d8c8;
	border: 0.5px solid #ffffff;
}

#eingabe{
	height:30px;

}

.button{
	height:34px;
	width:40px;
	background-color:#ECCEF5;
	box-shadow:none;
	border: 1px solid #6A0888;
}
hr{
	margin-left: 100px;
	width:109px;
	color: white;
	border:0.5px solid #6A0888;
	position: absolute;
	margin-top:50px;
}
#hr2{
	margin-left: 310px;
	width:105px;
	color: white;
	border:0.5px solid #6A0888;
	position: absolute;
	margin-top:50px;
}
.kreise{
	height:150px;
	width:97.5%;
	margin-top:40px;
	margin-bottom:-30px;
	position:relative;
}
#kreis1{
	float:left;
	height: 100px;
	width: 100px;
	background-image:url(img/lupe2.png);
    background-repeat: no-repeat;
	border-radius:50px 50px 50px 50px;
	border:0.5px solid #6A0888 ;
}

#kreis2{
	margin-left:210px;
	height: 100px;
	width: 100px;
    background-repeat: no-repeat;
    background-size: 100px 100px;
	border-radius:50px 50px 50px 50px;
	border:0.5px solid #6A0888 ;
}

#kreis3{
	margin-left:415px;
	margin-top: -100px;
	height: 100px;
	width: 100px;
	border-radius:50px 50px 50px 50px;
	border:0.5px solid #6A0888 ;
}

    @media (min-width: 768px) {
        #wrapper { width: 80%; margin: 2em auto; }
        #icon-book { display: inline-block; }
        #status a, #next a { display: block; }

        @-webkit-keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        @keyframes fade-in { 0% { opacity: 0; } 100% { opacity: 1; } }
        .sf-toolbar { opacity: 0; -webkit-animation: fade-in 1s .2s forwards; animation: fade-in 1s .2s forwards;}
    }
</style>
{% endblock %}
