{% extends 'base.html.twig' %}

{% block body %}
    <div class="wrapper">
      <img src="img/Unbenannt.jpg"/>
      <img src="img/Download.png"/>
      <div class="rahmen">
        <img src="img/code.png" style="margin-left:3.5px"/><br/>
        <form name="anfrage" method="post">
          <input id="eingabe" type="text" size="30" maxlength="13" placeholder="Hier die EAN eingeben!">
<!-- AJAX/JQuery-->
          <script type="text/javascript" src="{{ asset('js/main.js')}}">
 

          </script>
          <input class="button" type="button" name="suchen" value="los!" onClick="eingabeAnUrlAnhaengen()">
        </form>



      </div>
      <div class="kreise">
        <hr/>
        <hr id="hr2"/>
        <div id="kreis1">
        </div>
        <div id="kreis2">
        </div>
        <div id="kreis3">
        </div>
     </div>
    </div>
{% endblock %}


